h1{
    text-align: center;
}
span{
    margin:60px;
}
button{
    background-color: rgb(219, 26, 177);
    margin-left: 650px;
    padding: 6px;
}
input{
    margin: 10px;
    font-size: 15px;
}
.name{
    margin-left: 495px;
}
.dob{
    margin-left: 130px;
}
.text{
    margin-left: 37%;
}
.d1{
    margin-left: 4%
}
.phn{
    margin-left: 110px;

}
.telus{
    margin-left: 10%;
}


